<div *ngIf="showAddTask">
    <h2>Add Any word Here</h2>
    <form class="add-form" [formGroup]="addWordForm"  (ngSubmit)="onSubmit(addWordForm.value)">
        <div>
            <label for="name">Name: </label>
            <input 
                type="text" 
                name="name"  
                formControlName="name" 
                id="name" 
                placeholder="Apigee">
        </div>
        <div>
            <Label for="description">Description: </Label>
            <input 
                type="text"
                name="description" 
                id="description" 
                formControlName="description" 
                placeholder="Google cloud API management">
        </div>
        <div>
            <Label for="meaning">meaning: </Label>
            <input 
                type="text" 
                name="meaning" 
                id="meaning" 
                formControlName="meaning" 
                placeholder="">
        </div>
        <div>
            <label for="source">Source: </label>
            <input 
                type="text" 
                name="source"  
                formControlName="source" 
                id="source" 
                placeholder="Apigee">
        </div>
        <div>
            <label for="topic">topic: </label>
            <input 
                type="text" 
                name="topic"  
                formControlName="topic" 
                id="topic" 
                placeholder="Apigee">
        </div>
        <button type="submit" class="btn btn-block">Add Word</button>
    </form>    
</div>
<!-- <h3>Word: {{ name }}</h3>

<h3>Meaning: {{ meaning }}</h3> -->

<!-- <button (click)="look()">Look</button> -->
<!-- (click)="onSubmit(addWordForm.value)" -->
