<app-add-word (addWordEvent)="addword($event)"></app-add-word>
<app-word-item 
    *ngFor="let word of words" 
    [word]="word"
    (click)="onSelect(word)"
    ></app-word-item>
<!-- <app-word-details></app-word-details> -->
<!-- <ul>
    <li 
        *ngFor="let word of words"
        (click)="getWord(word)"
         >{{word.name}}-{{word.brief}}</li>
</ul> -->
<!-- <div *ngIf="details_show">
    <app-word-details>{{selectedWord}}</app-word-details>
</div> -->
<app-word-details></app-word-details>
<p>
    *ngIf="hasRoute('')" check this in Headers html file
</p>
<!-- *ngIf="showAddTask" -->